.container{
    width: 100%;   
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;     
}
.wrapper{
    padding: 10px 0px;
    column-gap: 15%;
    justify-content: center;
    row-gap: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: 100px 100px;
    background-color:#BB7E5D;  
}
.item{
    padding: 5px 3px;
    width: 100px;
    height: 40px;
    background-color: #0892a5;
    border-radius: 10px;    
    color:#dbb68f ;    
    text-wrap:wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;    
    font-weight: 700;    
}
